<h1>Formulario para cadastrar teste</h1>
<form action='/add-pagamentoxxx' method="POST">
<label>nome</label>
<input type="text" name="nome"><br><br>

<label>Valor</label>
<input type="text" name="valor"><br><br>

<button type="submit"></button>

</form>