<div id="interface">
  
 
  
  <div class="alert alert-primary" role="alert">
  <h3 class="alert-heading">GRUPO DE PESQUISA EMOÇÕES, SENTIMENTOS E AFETOS EM CONTEXTOS DE TRABALHO</h3>
  <h3 class="alert-heading">Prezado(a) participante !</h3>
  <p id="fechamento">O Grupo de Pesquisa. Agradece por sua participação... Obrigado.</p>
 
</div>  

         
</div>
<footer id="rodape">
  <p>  <span style="font-weight:bolder;"> By Louise Cristine</span>.</p>
  </footer>   

